#home-text{
    font-size: 32px;
    /* font: bold; */
}
#title-input{
    border-radius: 10px;
    margin-bottom: 6%;
}
#select-input{
    border-radius: 10px;
}
.all-Categories{
    /* text-decoration: none; */
    color: black;
    /* margin-bottom: 10%; */
}
/* .all-Categories.hover{
    color: blue;
} */